root = true

[*]
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120

[*.json]
indent_size = 2

[*.{cs,vb}]
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error

dotnet_style_require_accessibility_modifiers = for_non_interface_members:error

dotnet_style_coalesce_expression = true:error
dotnet_style_null_propagation = true:error

csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error

dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = error

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _
